doctype html
html
  head
    title Exam online
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')
  body
    div.container-fluid
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='/') Home
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup',
             aria-controls="navbarNavAltMarkup", aria-expanded="false",aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse#navbarNavAltMarkup
                a.nav-item.nav-link.active(href='/users') User
                a.nav-item.nav-link.active(href='/users/register') Register
                a.nav-item.nav-link.active(href='/exams') Exams
                a.nav-item.nav-link.active(href='/exams/create') Create Exam
    div.container
        block content
