extends ../layouts/layout

block content
  h1 Users
  p List of users
  ul.list-group
    for user in users
        li.list-group-item #{user.fname}
            form(method='post', action='/users/delete', id="#{user._id}")
                input(type='hidden', value="#{user.email}", name="email")
                a(href="#",onclick="document.getElementById('#{user._id}').submit()") delete
