extend ../layouts/layout

block content
    div.row
        div.col-sm-12
          h1 Admin
          p Register a user
    form.row(method='post', action='/users/register')
        div.col-sm-6
            label First name
            br
            input.form-control(
                type='text',
                name='fname',
                required
            )
            br
        div.col-sm-6
            label Last name
            br
            input.form-control(
                type='text',
                name='lname',
                required
            )
            br
        div.col-sm-6
            label Email
            br
            input.form-control(
                type='text',
                name='email',
                required
            )
            br
        div.col-sm-12
            button.btn.btn-success Register



