extends ../layouts/layout

block content
    div.row
        div.col-sm-12
          h1 Exam
          p Create an exam
    form.row(method='post', action='/exams/create')
        div.col-sm-6
            label Exam name
            br
            input.form-control(
                type='text',
                name='name',
                required
            )
            br
        div.col-sm-6
            label Pass mark
            br
            select.form-control(name = 'pass_mark', required)
                option(value = '50') 50%
                option(value = '60') 60%
                option(value = '70') 70%
                option(value = '80') 80%
            br
        div.col-sm-6
            label Duration
            br
            select.form-control(name = 'duration', required)
                option(value = '1hr') 1 Hour
                option(value = '1hr 30min') 1 Hour 30 minutes
                option(value = '2hr') 2 Hours
            br
        div.col-sm-6
            label Difficulty level
            br
            select.form-control(name = 'difficulty', required)
                option(value = 'difficult') Difficult
                option(value = 'easy') Easy
                option(value = 'normal') Normal
            br
        div.col-sm-12
            label Instruction
            br
            textarea.form-control(name='instruction', required)
            br
        div.col-sm-6
            button.btn.btn-success Create



