extends ../layouts/layout

block content
  h1= title
  p Welcome to #{title}
  ul.list-group
    for exam in exams
        li.list-group-item #{exam.name}
            form(method='post', action='/exams/delete', id="#{exam._id}")
                input(type='hidden', value="#{exam.name}", name="name")
                a(href="#",onclick="document.getElementById('#{exam._id}').submit()") delete
